.nutritionist-card {
    background-color: #F2F2F2;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.nutritionist-card:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.nutritionist-card p {
    margin-bottom: 10px;
}

