
/*////////////////// GLOBAL STYLES START /////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans';
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  background: #fff;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
li {
  margin-right: 15px;
  font-weight: 800;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.20rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
/*////////////////// GLOBAL STYLES START /////////////////////*/



/*//////////////// NAVBAR CSS START /////////////*/
.navbar {
  position: relative; 
  z-index: 30; 
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(238, 238, 238);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  height: 4rem;
  display: flex;
  align-items: center;
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  }
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: hsl(206, 100%, 76%);
  cursor: pointer;
  transition: all 0.2s linear;
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 0 0;
  text-transform: capitalize;
  letter-spacing: 0.20rem;
  transition: all 0.2s linear;
  color: hsl(209, 61%, 16%);
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.7rem;
}
.nav-link:hover {
  padding: 0;
  color: hsl(206, 100%, 76%);
  background: transparent;
}

.nav-links {
  height: auto;
  display: flex;
}
/*//////////////// NAVBAR CSS END //////////////////*/
