[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
python-dotenv = "*"
flask-cors = "*"
pytest = "*"
gunicorn = "*"
pydantic = {extras = ["email"], version = "*"}
bcrypt = "*"
# flask.ext.pymongo = "*"
passlib = "*"
faker = "*"
pytest-cov = "*"
openai = "*"

[dev-packages]

[requires]
# python_version = "3.7.10"

[scripts]
seed = "python test.py"
