.product-item-container {
    background-color: aliceblue;
    margin: 3px 0;
    cursor: pointer;
}

.product-item-container h3 {
    margin-bottom: 0;
}

.product-item-stats {
    display: flex;
}

.product-item-stats div {
    margin-right: 30px;
}
