.food-item-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(230, 230, 230);
}

.food-item-container div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.food-item-container h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.confirmed {
    background-color: green;
}
