.request-nutritionist {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.request-nutritionist textarea {
    padding: 15px;
}

.popup-review-arrows {
    display: flex;
    justify-content: space-between;
}
