<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect("http://localhost:5001")
        socket.on('connect', function() {
            socket.send("User connected!");
        });
        socket.on('message', function(message) {
            var formattedMessage = $('<li>').text(message);
            $('#messages').append(formattedMessage);
        })
        $('#sendBtn').on('click', function() {
            socket.send($('#username').val() + ': ' + $('#message').val());
            $('#message').val('');
        });
    })
</script>
<div id="messages">

</div>
<input type="text" id="username" placeholder="Username">
<input type="text" id="message" placeholder="Message">
<button id="sendBtn">Send</button>
</body>
</html>