.client-card {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: #F2F2F2; /* offwhite color */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .client-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  .client-card h4 {
    margin: 0; /* Remove default margin */
    text-align: center; /* Center text */
    font-size: 20px;
  }
  
