{% extends 'base.html' %}
{% block content %}
<div class="message-box">
    <h4>Room Code: {{code}}</h4>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Message" name="message" id="message" />
        <button type="submit" name="send" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>
<script type="text/javascript">
    var socketio = io(); 

    const messages = document.getElementById("messages")
    const createMessage = (name, msg) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                ${new Date().toDateString()}
            </span>
        </div>
        `;
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    })

    // sending messages
    const sendMessage = () => {
    const message = document.getElementById("message");
    if(message.value == "") return;
    socketio.emit("message", {data: message.value})
    message.value = ""
    };
</script>
{% endblock %}
