{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">

    <div class="card">

        <h1 class="center">Create an Account</h1>
  
        <form name="signup_form">
  
          <label for="role">Role</label>
          <input type="text" name="role" class="field" placeholder="Nutritionist or User?" required>
  
          <label for="username">Username</label>
          <input type="text" name="username" class="field" placeholder="Enter username" required>
  
          <label for="password">Password</label>
          <input type="password" name="password" class="field" placeholder="Enter password" required>
  
          <p class="error error--hidden"></p>
  
          <input type="submit" value="Sign Up" class="btn">
        
        </form>
        
      </div>

      <div class="card">

        <h1 class="center">Log In</h1>
  
        <form name="login_form">
  
          <label for="username">Username</label>
          <input type="username" name="username" class="field" required>
  
          <label for="password">Password</label>
          <input type="password" name="password" class="field" required>
  
          <p class="error error--hidden"></p>
  
          <input type="submit" value="Log In" class="btn">
        
        </form>
        
      </div>
</div>
 
{% endblock %}
